body {
  margin: 0 auto;
  max-width: 540px;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
}
body .body-background {
  z-index: -99;
  width: 100%;
  max-width: 540px;
  height: 150px;
  overflow: hidden;
  border: 1px solid green;
}
body .body-background .background-circle {
  left: 50%;
  margin-left: -500px;
  margin-top: -800px;
  display: block;
  background-color: red;
  width: 1000px;
  height: 1000px;
  border-radius: 500px;
}
header {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: red;
  display: flex;
  padding: 8px;
}
header input {
  background: url("../imgs/search_24px.png") no-repeat white 5px;
  background-size: 20px;
  flex: 80%;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: 0px;
  border-radius: 50px;
  padding-top: 5px;
  padding-left: 30px;
}
header a {
  text-decoration: none;
  color: white;
}
.carousel {
  border-radius: 10px;
  overflow: hidden;
  margin: 30px 0 0 0;
  padding: 0 10px;
  background: linear-gradient(red, #ba2626);
}
.carousel .my-carousel-item {
  border-radius: 10px;
  overflow: hidden;
}
.top-nav {
  min-width: 350px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  margin-bottom: 0px;
  list-style: none;
  justify-content: space-between;
}
.top-nav li {
  flex: 19%;
}
.top-nav li a {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: black;
}
.top-nav li a img {
  width: 100%;
  height: 100%;
}
main {
  background-color: #ba2626;
}
main .kill {
  background-color: white;
  margin: 3px 10px 5px 10px;
  border-radius: 10px;
}
main .kill .kill-header {
  display: flex;
}
main .kill .kill-header span:nth-child(1) {
  display: flex;
  align-items: center;
  flex: 80%;
}
main .kill .kill-header span:nth-child(1) .kill-img {
  margin-left: 10px;
  flex: 40%;
  max-width: 120px;
  height: 50px;
  background: url("../imgs/kill.jpg") no-repeat left 50%;
  background-size: 100%;
}
main .kill .kill-header span:nth-child(1) .kill-time {
  flex: 20%;
  font-size: 13px;
}
main .kill .kill-header span:nth-child(1) .kill-time-left {
  flex: 40%;
  font-size: 13px;
}
main .kill .kill-header span:nth-child(2) {
  flex: 20%;
  display: flex;
  align-items: center;
  color: red;
}
main .kill .kill-header span:nth-child(2) div {
  width: 100%;
  text-align: right;
  font-size: 12px;
}
main .kill .kill-header span:nth-child(2) div::after {
  content: ">";
  padding: 2px 4px;
  width: 25px;
  height: 25px;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 12px;
  border-radius: 50px;
  margin: 0px 10px 0px 2px;
}
main .kill .kill-content {
  display: flex;
  overflow: hidden;
}
main .kill .kill-content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
  margin-left: 10px;
}
main .kill .kill-content a img {
  width: 100%;
}
main .kill .kill-content a .price {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
main .kill .kill-content a .origin-price {
  color: gray;
  font-weight: lighter;
  text-decoration: line-through;
}
main .new-user {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: blue;
  margin: 10px;
}
main .new-user img {
  width: 50%;
}
main .floor {
  display: flex;
}
main .floor img {
  width: 33%;
}
main .recommend .recommend-header {
  width: 100%;
}
main .recommend .recommend-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}
main .recommend .recommend-content .recommend-item {
  flex: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin: 1px;
}
main .recommend .recommend-content .recommend-item img {
  border-radius: 10px;
  width: 100%;
}
main .recommend .recommend-content .recommend-item:nth-child(1) {
  background: linear-gradient(to bottom right, orange, orangered);
}
main .recommend .recommend-content .recommend-item:nth-child(2) {
  background: linear-gradient(to bottom right, lightskyblue, deepskyblue);
}
main .recommend .recommend-content .recommend-item:nth-child(3) {
  background: linear-gradient(to bottom right, pink, hotpink);
}
main .recommend .recommend-content .recommend-item:nth-child(4) {
  background: linear-gradient(to bottom right, cornflowerblue, dodgerblue);
}
main .place .place-header {
  width: 100%;
}
main .place .place-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
main .place .place-content .place-item {
  background-color: white;
  flex: 23%;
  margin: 2px;
  border: 2px solid orange;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}
main .place .place-content .place-item img {
  padding: 10px 10px 0 10px;
  width: 100%;
}
main .place .place-content .place-item .place-item-desc {
  width: 90%;
  border-radius: 30px;
  background: linear-gradient(to bottom right, deeppink, hotpink);
  font-size: 12px;
  text-align: center;
  color: white;
}
main .place .place-content .place-item .place-item-cate {
  width: 100%;
  height: 40px;
  text-align: center;
  background: linear-gradient(to bottom right, orange, orangered);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .place .place-content .place-item .place-item-cate h5 {
  color: white;
}
main .yard .yard-header {
  width: 100%;
}
main .yard .yard-content {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}
main .yard .yard-content .yard-item {
  flex: 50%;
  border: 1px solid #ba2626;
  padding-left: 10px;
}
main .yard .yard-content .yard-item h4 {
  background: linear-gradient(to bottom right, deepskyblue, cornflowerblue);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}
main .yard .yard-content .yard-item img {
  width: 40%;
  margin-right: 10px;
}
main .yard .yard-content .yard-item:nth-child(n+3) {
  padding-left: 0;
  display: flex;
}
main .yard .yard-content .yard-item:nth-child(n+3) .yard-item-left,
main .yard .yard-content .yard-item:nth-child(n+3) .yard-item-right {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ba2626;
}
main .yard .yard-content .yard-item:nth-child(n+3) .yard-item-left img,
main .yard .yard-content .yard-item:nth-child(n+3) .yard-item-right img {
  width: 100%;
}
main .yard .yard-content .yard-item:nth-child(n+3) h4 {
  color: black;
  margin-bottom: 0;
}
main .everyday .everyday-header {
  width: 100%;
}
main .everyday .everyday-content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
main .everyday .everyday-content .everyday-item {
  flex: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ba2626;
}
main .everyday .everyday-content .everyday-item h4 {
  background: linear-gradient(to bottom right, red, deeppink);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  margin-bottom: 0;
}
main .everyday .everyday-content .everyday-item h6 {
  margin-bottom: 0;
}
main .everyday .everyday-content .everyday-item img {
  width: 80%;
  padding: 10px;
}
main .everyday .everyday-content .everyday-item:nth-child(1),
main .everyday .everyday-content .everyday-item:nth-child(2),
main .everyday .everyday-content .everyday-item:nth-child(3),
main .everyday .everyday-content .everyday-item:nth-child(5),
main .everyday .everyday-content .everyday-item:nth-child(6),
main .everyday .everyday-content .everyday-item:nth-child(7) {
  border-right: 1px solid #ba2626;
}
main .everyday .everyday-content .everyday-item:nth-child(2) h4 {
  background: linear-gradient(to bottom right, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(3) h4 {
  background: linear-gradient(to bottom right, orange, hotpink);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(4) h4 {
  background: linear-gradient(to bottom right, red, deeppink);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(5) h4 {
  background: linear-gradient(to bottom right, mediumpurple, orangered);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(6) h4 {
  background: linear-gradient(to bottom right, lightseagreen, dodgerblue);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(7) h4 {
  background: linear-gradient(to bottom right, orange, deeppink);
  -webkit-background-clip: text;
  color: transparent;
}
main .everyday .everyday-content .everyday-item:nth-child(8) h4 {
  background: linear-gradient(to bottom right, lightseagreen, greenyellow);
  -webkit-background-clip: text;
  color: transparent;
}
main .part-two {
  background-color: #f0f2f5;
}
main .part-two .news {
  display: flex;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  height: 40px;
}
main .part-two .news .news-img {
  flex: 25%;
  height: 80%;
  background: url("../imgs/news.jpg") no-repeat;
  background-size: 100%;
  margin-left: 10px;
}
main .part-two .news .news-content {
  flex: 65%;
  text-overflow: ellipsis;
}
main .part-two .news a {
  flex: 10%;
  border-left: 1px solid grey;
  color: black;
  padding-left: 5px;
}
main .part-two .recommend-for-you {
  padding: 10px;
}
main .part-two .recommend-for-you .recommend-for-you-header {
  width: 100%;
}
main .part-two .recommend-for-you .recommend-for-you-content {
  display: flex;
  flex-wrap: wrap;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  background-color: white;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item img {
  width: 100%;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item .recommend-for-you-desc {
  padding: 2px;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item .recommend-for-you-item-footer {
  display: flex;
  width: 100%;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item .recommend-for-you-item-footer .price {
  flex: 50%;
  color: orangered;
  width: 100%;
}
main .part-two .recommend-for-you .recommend-for-you-content .recommend-for-you-item .recommend-for-you-item-footer a {
  text-align: right;
  color: grey;
  border: 1px solid grey;
  font-size: 12px;
  padding: 2px 5px;
}
footer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  color: #b9b9b9;
  margin-bottom: 110px;
}
footer section {
  flex: 100%;
  display: flex;
}
footer section:nth-child(1) {
  justify-content: center;
  margin-top: 10px;
}
footer section:nth-child(1) div {
  flex: 25%;
  text-align: center;
  border-right: 1px solid #b9b9b9;
}
footer section:nth-child(1) div:nth-child(4) {
  border-right: 0;
}
footer section:nth-child(2) {
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #b9b9b9;
  padding: 5px 0;
}
footer section:nth-child(2) div {
  flex: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section:nth-child(2) div img {
  border: 1px solid #b9b9b9;
  border-radius: 50px;
  padding: 2px;
}
footer section:nth-child(2) .app .app-img {
  border: 1px solid #b9b9b9;
  text-align: center;
  border-radius: 50px;
  padding-top: 4px;
}
footer section:nth-child(3) {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
.menu {
  position: fixed;
  bottom: 0;
  z-index: 200;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}
.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.menu ul li {
  flex: 20%;
}
.menu ul li a img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */